


@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


@keyframes fadeIn {
    from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
}


:root {
    --bg-color: #EEF0F1;
    --button-hover-color: #0757f3;
    --black-shade: #232529;
    --white-shade: #F9FAFA;
}

* {
    background-color: var(--bg-color);
    margin: 0px 0px;
    font-family: monospace;
}

.heading {
    font-size: 5vh;
    font-weight: 700;
    text-align: center;
    margin-top: 5vh;
    opacity: 0;
    animation: fadeIn 3s ease-in 0.75s forwards;    
}

.input-area {
    display: flex;
    justify-content: center;
    margin-top: 8vh;
    height: 6vh;
}

.input-box {
    
    width: 40%;
    padding: 1em;
    background-color: var(--white-shade);
    font-size: large;
    border: none ;
    border-radius: 10px;
    box-shadow: 5px;
    
}

.addBtn {
    border: none;
    border-radius: 20px;
    background-color: var(--white-shade);
    color: var(--black-shade);
    height: inherit;
    margin-left: 2vb;
}
