


@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


@keyframes fadeIn {
    from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
}


:root {
    --bg-color: #EEF0F1;
    --button-hover-color: #0757f3;
    --black-shade: #232529;
    --white-shade: #F9FAFA;
}

* {
    background-color: var(--bg-color);
    margin: 0px 0px;
    font-family: monospace;
}

.heading {
    font-size: 5vh;
    font-weight: 700;
    text-align: center;
    margin-top: 4vh;
    opacity: 0;
    animation: fadeIn 3s ease-in 0.75s forwards;    
}

.input-area {
    display: flex;
    justify-content: center;
    margin: 6vh 6vh;
    height: 6vh;
}

.input-box {
    
    width: 40%;
    padding: 1em;
    background-color: var(--white-shade);
    font-size: large;
    border: none ;
    border-radius: 10px;
    box-shadow: 5px;
    
}

.updateTask-inputArea {
    
    font-size: 1em;
    background-color: inherit;
    border: none;
    outline: none;
    width: 100%;
    
}



.addBtn {
    border: none;
    border-radius: 20px;
    background-color: var(--white-shade);
    stroke: var(--black-shade);
    height: inherit;
    width: 3%;
    margin-left: 2vb;
    cursor: pointer;
}


.task-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
}
.task-box {
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-top: 1%;
    height: 8vh;
    width: 50%;

}

.doneBtn , .editBtn {
    margin: 3% 3%;
    background-color: inherit;
    cursor: pointer;    
}

.doneBtn {
    stroke: var(--black-shade);
}
.editBtn {
    fill: var(--black-shade);
}

.task-description {
    width: 78%;
    background-color: inherit;
    font-size: 1.3em;
}

.task-box:hover {
    background: var(--white-shade);
}
.doneBtn:hover {
    stroke: var(--button-hover-color);
}
.editBtn:hover {
    fill: var(--button-hover-color);
}
.addBtn:hover {
    stroke: var(--button-hover-color);
}
